tinyRenderer.xcodeproj/project.pbxproj
tinyRenderer.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tinyRenderer.xcodeproj/project.xcworkspace/xcuserdata/mariamt.xcuserdatad/UserInterfaceState.xcuserstate
tinyRenderer.xcodeproj/xcuserdata/mariamt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
tinyRenderer.xcodeproj/xcuserdata/mariamt.xcuserdatad/xcschemes/tinyRenderer.xcscheme
tinyRenderer.xcodeproj/xcuserdata/mariamt.xcuserdatad/xcschemes/xcschememanagement.plist
